@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background: url("../images/gradbg.png") no-repeat;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 410px;
  padding: 50px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.container form{
  margin-top: -20px;
}

.container p{
  font-size: 13px;
  color: #989898;
  padding: 3px;
}

.container label{
  color: #989898;
}

form .data input{
  width: 94%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 5px;
}

form .data label{
  font-size: 14px;
}

form .info-btn{
  color: #fff;
  background: #F04E63;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

form .info-btn:hover{
  background: #A332CD;
}
